@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#D98282, #D93636);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #178fbf62;
}
h1{
    color: #0477BF;
    text-align: center;
}
h2{
    color: #1790BF;
}
p {
    text-align: justify;
}