@charset "utf-8";

body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(4,104,0);
}

#principal {
    color: white;
    background-color: rgb(4,104,0);
    text-align: center;
}

h2 {
    color: rgb(51, 77, 49);
}

